<body>
<div class="container">
  <div class="content">
    <div class="logo-and-buttons">
    <img src="/assets/logo2.png" alt="Logo da Loja" class="logo-loja">
    <span class="frase-loja">SOMOS REFERÊNCIA EM PEÇAS NIKE,<br> VENHA SER UM CLIENTE KING STORE TAMBÉM</span>
    <div class="button-group">
      <a href="https://www.instagram.com/_kingstore_01?igsh=MXR5bDUzMDNvYWtrNw==" target="_blank" class="button">
        <img src="assets/insta_preto.png" alt="Instagram Logo" class="logo">
        Instagram
      </a>
      <a href="https://wa.me/5511978392495" target="_blank" class="button">
        <img src="assets/whats_preto.png" alt="WhatsApp Logo" class="logo">
        WhatsApp
      </a>
      <a href="https://catalogoapp.mobi/5d41e89d-87dd-49f7-85c9-91805dfe03da" target="_blank" class="button">
        <img src="assets/catalogo1_preto.png" alt="Catálogo Logo" class="logo">
        Catálogo
      </a>
    </div>
  </div>
  </div>
</div>
</body>